<strong>Recovering Password</strong>

<p>A password recovery request has been made to email ({{ email }}).If you were not the author of this request, we encourage you to change your password.</p>
<p>Para continuar com a recuperação de senha, clique no link abaixo:</p>

<a href="{{ link }}">Criar nova senha</a>
